<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconround"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconround"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mindfulness"
        tools:targetApi="31">
        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Stress"
            android:label="Stress Test"></activity>
        <activity
            android:name=".Depression"
            android:label="Depression Test"></activity>
        <activity
            android:name=".Anxiety"
            android:label="Anxiety Test"></activity>
        <activity
            android:name=".Adhd"
            android:label="ADHD Test"></activity>
        <activity
            android:name=".Ptsd"
            android:label="PTSD Test"></activity>
        <activity
            android:name=".Mania"
            android:label="Mania Test"></activity>
        <activity
            android:name=".Pd"
            android:label="Panic Disorder Test"></activity>
        <activity
            android:name=".Sd"
            android:label="Sleeping Disorder Test"></activity>
        <activity
            android:name=".TestAgreement"
            android:label="Before You Begin"></activity>
        <activity
            android:name=".TestInstructions"
            android:label="Start"></activity>
        <activity
            android:name=".About_Stress"
            android:label="About Stress"></activity>
        <activity
            android:name=".About_Adhd"
            android:label="About ADHD"></activity>
        <activity
            android:name=".About_Anxiety"
            android:label="About Anxiety"></activity>
        <activity
            android:name=".About_Depression"
            android:label="About Depression"></activity>
        <activity
            android:name=".About_Mania"
            android:label="About Mania"></activity>
        <activity
            android:name=".StressQuiz"
            android:label="Stress Test"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>